<section>
  
    <div class="col-centered">  
      
   <button class="accordion"><i class="fas fa-shopping-cart"></i>
   Checkout</button>
   <div class="content">
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut enim quis nunc fermentum auctor sed non neque. Ut aliquet eget lorem ut interdum. Mauris dignissim semper tortor, a suscipit dui semper non. Phasellus malesuada pulvinar turpis, et finibus ligula egestas ac. Mauris et congue mauris, quis iaculis massa. Ut eget lectus eu mi pellentesque efficitur et non mi. Vestibulum suscipit libero vel metus commodo porttitor.</p>
   </div>
   
   <button class="accordion"><i class="fas fa-truck"></i> Delivery</button>
   <div class="content">
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut enim quis nunc fermentum auctor sed non neque. Ut aliquet eget lorem ut interdum. Mauris dignissim semper tortor, a suscipit dui semper non. Phasellus malesuada pulvinar turpis, et finibus ligula egestas ac. Mauris et congue mauris, quis iaculis massa. Ut eget lectus eu mi pellentesque efficitur et non mi. Vestibulum suscipit libero vel metus commodo porttitor.</p>
   </div>
   
   
   <button class="accordion"><i class="fas fa-credit-card"></i>
   Payment Methods</button>
   <div class="content">
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut enim quis nunc fermentum auctor sed non neque. Ut aliquet eget lorem ut interdum. Mauris dignissim semper tortor, a suscipit dui semper non. Phasellus malesuada pulvinar turpis, et finibus ligula egestas ac. Mauris et congue mauris, quis iaculis massa. Ut eget lectus eu mi pellentesque efficitur et non mi. Vestibulum suscipit libero vel metus commodo porttitor.</p>
   </div>
   
   <button class="accordion"><i class="fas fa-box"></i>
   Returns &amp; Exchanges</button>
   <div class="content">
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut enim quis nunc fermentum auctor sed non neque. Ut aliquet eget lorem ut interdum. Mauris dignissim semper tortor, a suscipit dui semper non. Phasellus malesuada pulvinar turpis, et finibus ligula egestas ac. Mauris et congue mauris, quis iaculis massa. Ut eget lectus eu mi pellentesque efficitur et non mi. Vestibulum suscipit libero vel metus commodo porttitor.</p>
   </div>
   
   <button class="accordion"><i class="fab fa-facebook"></i>
   Follow us on Facebook</button>
   <div class="content">
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut enim quis nunc fermentum auctor sed non neque. Ut aliquet eget lorem ut interdum. Mauris dignissim semper tortor, a suscipit dui semper non. Phasellus malesuada pulvinar turpis, et finibus ligula egestas ac. Mauris et congue mauris, quis iaculis massa. Ut eget lectus eu mi pellentesque efficitur et non mi. Vestibulum suscipit libero vel metus commodo porttitor.</p>
   </div>
    </div>
   </section>
   